<article class="postContainer">
    <div class="postCreator">
        <img src="{{creatorId.pictureUrl}}" alt="">
        <p>Posted by {{creatorId.name}}</p>
    </div>
    <div class="postPicture">
        <a href="/post/{{id}}">
            <img src="{{pictureUrl}}" alt="">
        </a>
    </div>    
</article>