<form action="/create" method="POST" enctype="multipart/form-data">
    <label for="message"></labelMessage>
    <input type="text" name="message" id="message">
    <label for="postPicture"></labelMessage>
    <input type="file" name="postPicture" id="postPicture">
    <button>Create</button>
</form>