$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-color: #00b7ff;
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 50px;
  font-family: $font-sans;
}

a {
  color: $link-color;
}

.postContainer {
  width: 400px;
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
}

.postCreator {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border: thin solid rgb(223, 220, 220);
  img {
    border-radius: 45px;
    margin: 10px;
    width: 50px;
    height: 50px;
  }
}

.postPicture {
  img {
    width: 100%;
  }
}

.fullPost {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.postComments {
  width: 300px;
  padding: 25px;
  height: 350px;
  border: thin solid rgb(223, 220, 220);
}
